{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "require-jsdoc": 0,
    "no-console": 0
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
